<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<div class="crud-page">
    <div class="crud-container">
        <h3>Site Details</h3>
        <table class="table table-striped">
            <tbody *ngIf="site">
                <tr *ngFor="let field of siteFields">
                    <td><strong>{{field.label}}:</strong></td>
                    <td>{{field.value}}</td>
                </tr>
            </tbody>
        </table>
        <div class="crud-actions">
            <button class="btn btn-outline-success" (click)="openDialog()">
                <i class="fas fa-pencil-alt"></i> Modifier
            </button>
            
        </div>
    </div>
</div>
